.myAnimatedDiv {
  position: absolute;
  top: 100%;
  left: 0;
  height: 5px;
  width: 2%;
  background: darkred;
  transform-origin: 0% 0%;
}

.profilePhotoImage {
  width: 6vh;
  height: 6vh;
  border-radius: 200px;
  margin-left: 2vh;
  margin-right: 3vh;
}

.navbarElementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.navbarElementContainerLinks {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 30%;
  height: 100%;
  overflow: hidden;
  z-index: 1500;
}

.navbarLogoNameContainer {
  min-width: fit-content;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.navbar {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background: #fefefe;
  background: #000000;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  align-items: center;
  z-index: 50;
}

.navbarFullName {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content;
  font-weight: 150;
  font-family: Segoe UI;
  font-size: 35px;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: url("../../images/dark_pointer_small.png"), pointer !important;
}

.navbarFullName:active {
  transform: scale(0.98);
}

.binaryDigitIndividualContainer {
  flex: 1; /* fill the remaining space */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.navbarLink {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: medium;
  transition: color 0.3s;
  text-decoration: none;
  padding: 20px;
  z-index: -1;
}

.navbarLink:hover {
  color: #0062b9;
}

.navbarLink:active {
  transform: scale(0.98);
}

@media (max-width: 1400px) {
  .navbarFullName {
    font-size: 25px;
  }
  .navbarLink {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .profilePhotoImage {
    margin-left: 0vh;
    margin-right: 0vh;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 110px;
    margin-bottom: 20px;
  }

  .navbar {
    position: relative;
    flex-direction: column;
    height: 100%;
    min-height: fit-content;
    z-index: 50;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

  .navbarFullName {
    color: white;
    font-weight: 150;
    font-family: Segoe UI;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 0vh;
    padding-left: 0vh;
    margin: 0px;
  }

  .binaryDigitIndividualContainer {
    position: absolute;
    flex-wrap: wrap;
    height: 140px;
    margin-right: 10vw;
    margin-left: 10vw;
    gap: 15px;
    top: 20px;
  }

  .navbarLink {
    font-size: 12px;
    padding: 10px;
  }

  .navbarElementContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .navbarLogoNameContainer {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .navbarElementContainerLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .myAnimatedDiv {
    display: none;
  }
}
