.projectHeaderText {
  color: rgb(17, 167, 67);
  margin: 0px;
}

.projectHeaderTextContainer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 2rem;
  margin-top: 5rem;
}

.pyTorchOuterContainer {
  color: white;
  min-height: fit-content;
  background-image: linear-gradient(
    #000000 0%,
    #2c110d 35%,
    #1d0f0e 85%,
    #000000 100%
  );
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}
.pyTorchCarouselAndDescriptionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}

#projectsDivScrollToSection {
  display: block;
  position: relative;
  visibility: hidden;
}

.devIconsContainer {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.projectsHeader {
  margin-top: 3rem;
}

.projectsParagraph {
  height: auto;
  margin-bottom: 6rem;
}

.pyTorchCarouselContainer {
  width: 60%;
}

@media (max-width: 600px) {
  .projectsHeader {
    margin-top: 0rem;
  }

  .projectsParagraph {
    text-align: center;
  }

  .pyTorchOuterContainer {
    padding-right: 0px;
    padding-left: 0px;
  }

  .pyTorchCarouselAndDescriptionContainer {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 1rem;
  }

  #projectsDivScrollToSection {
    top: 0px;
  }

  .pyTorchCarouselContainer {
    width: 100%;
  }

  .projectHeaderText {
    text-align: center;
    width: 100%;
  }

  .projectHeaderTextContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .devIconsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
