.navbar_link {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: medium;
  transition: color .3s; 
  text-decoration: none;
  padding: 20px;
}

.navbar_link:hover {
  color: #0062b9; 
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background: #fefefe;
  background: #0e0d0d;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); 
  align-items: center;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif; 
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; 
}


.profile_photo_image {
  width: 6vh;
  height: 6vh;
  border-radius: 200px;
  margin-right: 122vh;
  margin-left: 2vh;
}


.bottom_footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#about{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
}

#projects {
  background-color: black;
  color: white; 
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  height: 1200px;
}

#profile{

  background-image: linear-gradient(to top, #09203f 0%, #35063a 100%);
  color: white;
}

h1 {
  margin:"0px";
  padding-left: 50px;
}

h2 {
  margin:"0px";
  padding-left: 50px;
}

p {
  margin:"0px";
  padding-left: 50px;
}

.project_card {
  padding-left: 100px !important;
}

