.carousel-status {
  color: rgb(35, 168, 41) !important;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  margin-right: 2rem;
  border-radius: 0.25rem;
}

/* 1. NEXT arrow normal state */
.carousel .control-next.control-arrow:before {
  border-left: 10px solid rgb(35, 168, 41) !important;
}

/* 2. NEXT arrow hover state */
.carousel .control-next.control-arrow:hover:before {
  border-left: 10px solid rgb(35, 168, 41) !important;
}

/* 3. PREV arrow normal state */
.carousel .control-prev.control-arrow:before {
  border-right: 10px solid rgb(35, 168, 41) !important;
}

/* 4. PREV arrow hover state */
.carousel .control-prev.control-arrow:hover:before {
  border-right: 10px solid rgb(35, 168, 41) !important;
}

.projectHeaderText {
  color: rgb(17, 167, 67);
  border-radius: 1rem;
}

.projectHeaderTextContainer {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 2rem;
}

.carousel .thumb,
.carousel .thumb:focus,
.carousel .thumb:active,
.carousel .thumb:hover {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.carousel .thumb.selected {
  border: 2px solid rgb(13, 70, 13) !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

/* 1. NEXT button normal */
.carousel .control-arrow.control-next {
  background: #000 !important;
  opacity: 0.4 !important;
}

/* 2. NEXT button hover */
.carousel .control-arrow.control-next:hover {
  background: #000 !important;
  opacity: 0.6 !important;
}


/* 1. PREV button normal */
.carousel .control-arrow.control-prev {
  background: #000 !important;
  opacity: 0.4 !important;
}

/* 2. PREV button hover */
.carousel .control-arrow.control-prev:hover {
  background: #000 !important;
  opacity: 0.6 !important;
}

.carousel.carousel-slider {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
  border-radius: 0.5rem !important;
}

.carousel .thumb {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) !important;
  border-radius: 0.25rem !important;
}


.normal-text-desktop-view {
  display: flex;
  width: 35%;
  margin-bottom: 3%;
  background: #191c29;
  border-radius: 6px;
  border: 2px solid rgba(56, 128, 62, 0.849);
  color: rgb(25, 212, 88);
  background-image: linear-gradient(#000000, #000000, #000000);
  max-height: 50vh;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.textWrapperDesktop {
  padding: 2rem 2rem;
  overflow: auto;
}

.carousel-container {
  display: none;
}
.carousel-button {
  display: none;
}

.top-button {
  display: none;
}

.bottom-button {
  display: none;
}

.player-wrapper {
  width: 100%;
  position: absolute;
}

.react-player {
  width: 100%;
  position: absolute;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f1616; /* Dark mode scrollbar thumb color */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #3d3939; /* Dark mode scrollbar track color */
}

.binaryDigit {
  color: rgb(64, 192, 64); /* Light green */
  font-weight: 400;
  font-size: 18px;
}

.spaceTauMainContainer {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  height: 50px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(104, 18, 18);
  transition: background-color 0.17s ease, color 0.17s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.video_button:hover {
  background-color: rgb(73, 12, 12);
}

.video_button:active {
  transform: scale(0.9);
}

.fade-in-out {
  transition: opacity 0.5s ease-in-out;
  width: 5px;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.videoWrapperKSP {
  display: flex;
  width: 75%;
  height: 40vh;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

ul > li > ul {
  padding-left: 20px;
}

ul > li > ul > li {
  margin-top: 10px;
  list-style-type: circle;
}

.text_apply_your_self {
  padding-left: 5%;
  width: 30%;
}

.carousel_apply_yourself {
  width: 60%;
}

.space_tau_description {
  padding-left: 5%;
  width: 30%;
}

.kotlin_carousel {
  max-width: 350px;
  padding-left: 170px;
}

.kotlin_carousel_container {
  width: 30%;
  padding-bottom: 3rem;
  justify-content: center;
  display: flex;
}

.hash_map_carousel {
  width: 60%;
}

.kotlin_image {
  width: 60%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
}

.project_card_hash_map {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.projectButtons {
  display: flex;
  gap: 1.5rem;
}

.github_logo {
  height: 20px;
  width: 20px;
}

.project_card_ski_shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel_ski_shop {
  width: 60%;
}

.videoWrapperSmallShell {
  width: 60%;
  display: flex;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.project_card_smallsh {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: space-between;
}

.space_tau_carousel_and_video {
  width: 60%;
}

.project_card_apply_yourself {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project_card_rsa_encryption {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel_rsa_encryption {
  width: 60%;
}

.entire_page {
  display: flex;
  flex-direction: column;
}

body {
  background: #000000;
  width: 100% !important;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#root {
  background: #000000;
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background: #000000;
}

.bottom_footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.hash_map_section {
  background-image: linear-gradient(
    #000000 0%,
    #221711 5%,
    #2c190f 55%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.unreal_section {
  background-image: linear-gradient(
    #000000 0%,
    rgb(25, 37, 44) 5%,
    rgb(5, 12, 17) 55%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.kotlin_section {
  background-image: linear-gradient(
    #000000 0%,
    #280944 15%,
    #0b0213 85%,
    #000000 100%
  );
  color: white;
  min-height: auto;
  padding: 3rem;
}

.solar_system_section {
  background-image: linear-gradient(
    #000000 0%,
    #211130 5%,
    #0b0213 85%,
    #13071d 100%
  );
  color: white;
  min-height: auto;
  padding: 3rem;
}

.smallsh_section {
  background-image: linear-gradient(
    #000000 0%,
    #072e1b 15%,
    #072e1b 85%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.ski_shop_section {
  background-image: linear-gradient(
    #000000 0%,
    #201031 15%,
    #12091b 85%,
    #000000 100%
  );
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.apply_yourself_section {
  background-image: linear-gradient(
    #000000 0%,
    #031e42 15%,
    #132b3d 55%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.devIconsContainer {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.rsa_section {
  background-image: linear-gradient(
    #000000 0%,
    #221212 5%,
    #251111 55%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.space_tau_section {
  background-image: linear-gradient(
    #000000 0%,
    #13253d 5%,
    #0a1924 85%,
    #000000 100%
  );
  color: white;
  min-height: fit-content;
  padding: 3rem;
}

.project_card {
  padding-left: 100px !important;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.player-wrapper {
  position: relative;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  width: 270px;
  height: 50px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: square;
  height: auto;
}


.github_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 50px;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: #24292e;
  transition: background-color 0.17s ease, color 0.17s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.github_button:hover {
  background-color: rgb(46, 46, 46);
}

.github_button:active {
  transform: scale(0.9);
}

.website_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  height: 50px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(36, 43, 121);
  transition: background-color 0.17s ease, color 0.17s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.website_button:hover {
  background-color: rgb(38, 43, 102);
}

.website_button:active {
  transform: scale(0.9);
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  p {
    padding-left: 0px;
  }

  .kotlin_image {
    width: 65%;
    border-radius: 0.75rem;
  }

  .project_card_hash_map {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .project_card_space_tau {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 100px;
  }

  .github_button {
    margin-bottom: 0px;
    gap: 10px;
  }

  .website_button {
    margin-left: 0px;
    margin-right: 10;
  }

  .video_button {
    margin-left: 0px;
    margin-right: 10;
    margin-bottom: 0px;
  }

  .project_card_apply_yourself {
    flex-direction: column;
    padding-left: 0px;
    align-self: center;
  }

  .player-wrapper {
    position: relative;
    z-index: 1;
    padding-left: 0%;
    padding-right: 0%;
  }

  .listTextItem {
    margin-top: 2rem;
    overflow-wrap: anywhere;
  }

  body {
    background: #212534;
    width: 100% !important;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

  .project_card_ski_shop {
    display: flex;
    flex-direction: column;
  }

  .project_card_smallsh {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .project_card_rsa_encryption {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .project_card_apply_yourself {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_apply_your_self {
    width: 100%;
    padding-left: 0px;
  }

  .carousel_apply_yourself {
    width: 100%;
  }

  .projectButtons {
    gap: 10px;
    margin-bottom: 2rem;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .carousel_rsa_encryption {
    width: 100%;
  }

  .space_tau_carousel_and_video {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
  }

  .space_tau_description {
    width: 100%;
  }

  .hash_map_text {
    width: 100%;
    padding-left: 0px;
  }

  .carousel_ski_shop {
    width: 100%;
  }

  .hash_map_carousel {
    width: 100%;
  }

  .kotlin_carousel {
    max-width: 500px;
    padding-left: 0px;
  }

  .kotlin_carousel_container {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  .ski_shop_section {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  ul {
    margin-left: 0px;
    padding: 0px;
  }

  .apply_yourself_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .rsa_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .space_tau_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .smallsh_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .hash_map_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .unreal_section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .kotlin_section {
    color: white;
    min-height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-top: 40px;
  }

  .solar_system_section {
    color: white;
    min-height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-top: 40px;
  }

  .videoWrapperSmallShell {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 90%;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    margin-right: 1rem;
    height: 30vh;
  }

  .projectHeaderText {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .videoWrapperKSP {
    display: flex;
    justify-content: center;
    width: 92%;
    margin-bottom: 0px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    height: 28vh;
  }

  li {
    list-style-position: inside;
    padding-left: 5%;
    padding-right: 5%;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul > li > ul > li {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: circle;
  }

  ul > li > ul {
    list-style-position: inside;
  }

  .spaceTauMainContainer {
    flex-direction: column;
    height: auto;
  }

  .carousel-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .carousel-button {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #000000;
    border: none;
    color: rgb(25, 212, 88);
    font-size: x-large;
    border-radius: 6px;
    border: 2px solid rgba(56, 128, 62, 0.849);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .normal-text-desktop-view {
    display: none;
  }

  .text-carousel-content {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .textWrapperMobile {
    display: flex;
    justify-content: center;
    overflow: auto;
    background: #191c29;
    border-radius: 6px;
    border: 2px solid rgba(56, 128, 62, 0.849);
    color: rgb(25, 212, 88);
    background-image: linear-gradient(#000000, #000000, #000000);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .projectHeaderTextContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .projectButtons {
    flex-direction: column;
  }

  .devIconsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
