::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f1616; /* Dark mode scrollbar thumb color */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #3d3939; /* Dark mode scrollbar track color */
}

.text_wrapper {
  width: 30%;
  height: fit-content;
  margin-left: 5%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  background: #191c29;
  border-radius: 6px;
  border: 2px solid rgba(56, 128, 62, 0.849);
  color: rgb(25, 212, 88);
  background-image: linear-gradient(#000000, #111e2b 30%, #000000);
}

.text_wrapper_about_me {
  height: fit-content;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-left: 1rem;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #191c29;
  border-radius: 6px;
  border: 2px solid rgba(56, 128, 62, 0.849);
  color: rgb(25, 212, 88);
  background-image: linear-gradient(#000000, #111e2b 30%, #000000);
}

.video_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  height: 50px;
  margin-left: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(104, 18, 18);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.video_button:hover {
  background-color: rgb(73, 12, 12);
}

.video_button:active {
  transform: scale(0.9);
}

.binary_digit_row {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: 55vh;
}

.binary_digit_divs {
  width: 100px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.binary_digit {
  color: rgb(64, 192, 64); /* Light green */
  font-weight: 400;
  font-size: 18px;
}

.fade-in-out {
  transition: opacity 0.5s ease-in-out;
  width: 5px;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.video_wrapper_ksp {
  margin-bottom: 40px;
}

ul > li > ul > li {
  margin-top: 10px; /* Add margin to nested list items */
  list-style-type: circle;
}

.wrapper_rock_climbing_video {
  padding-right: 60px;
}

.text_apply_your_self {
  padding-left: 5%;
  width: 30%;
}

.carousel_apply_yourself {
  width: 60%;
}

.space_tau_description {
  padding-left: 5%;
  width: 30%;
}

.kotlin_carousel {
  max-width: 350px;
  padding-left: 200px;
}
.kotlin_carousel_container {
  width: 30%;
}

.hash_map_carousel {
  width: 60%;
}

.kotlin_image {
  width: 60%;
  padding-left: 20%;
}

.project_card_hash_map {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project_buttons {
  display: flex;
}

.github_logo {
  height: 20px;
  width: 20px;
}

.project_card_ski_shop {
  display: flex;
  flex-direction: row;
}

.carousel_ski_shop {
  width: 60%;
}

.text_description_ski_shop {
  padding-left: 5%;
  width: 30%;
}

.text_description_smallsh {
  padding-left: 5%;
  width: 30%;
}

.video_wrapper_smallsh {
  width: 60%;
  position: relative;
}

.project_card_smallsh {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.space_tau_carousel_and_video {
  width: 60%;
}

.project_card_apply_yourself {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.about_me_text {
  padding-right: 100px;
}

.text_description_rsa {
  padding-left: 5%;
  width: 30%;
}

.project_card_rsa_encryption {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.carousel_rsa_encryption {
  width: 60%;
}

.entire_page {
  display: flex;
  flex-direction: column;
}

.about_me_images {
  display: flex;
  flex-direction: column;
}

.about_me_images2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.text_description_1 {
  margin-bottom: 0px;
  padding-right: 100px;
  width: 50%;
}

#about {
  background-image: linear-gradient(to top, #09203f 63%, #385266 100%);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
  align-items: center;
}

.navbar_name_me {
  color: white;
  font-weight: 150;
  font-family: Segoe UI;
  font-size: 35px;
  text-transform: uppercase;
  padding-right: 90vh;
}

.navbar_link {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: medium;
  transition: color 0.3s;
  text-decoration: none;
  padding: 20px;
  z-index: -1;
}

.navbar_link:hover {
  color: #0062b9;
}

.navbar {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background: #fefefe;
  background: #0e0d0d;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 111;
}

body {
  background: #212534;
  width: 100% !important;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.profile_photo_image {
  width: 6vh;
  height: 6vh;
  border-radius: 200px;
  margin-left: 2vh;
  margin-right: 3vh;
}

.bottom_footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.hash_map_section {
  background-image: linear-gradient(
    to top,
    #000000 0%,
    #432313 5%,
    #221e16 100%
  );
  color: white;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  min-height: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.kotlin_section {
  background-image: linear-gradient(
    to top,
    #290e5b 0%,
    #290e5b 50%,
    rgb(0, 0, 0) 100%
  );
  color: white;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  min-height: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.smallsh_section {
  background-image: linear-gradient(to top, #09203f 0%, #0b362a 100%);
  color: white;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.ski_shop_section {
  background-color: black;
  color: white;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.apply_yourself_section {
  padding-top: 40px;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  margin-top: 0px !important;
  margin: 0px;
  background-image: linear-gradient(to top, #09203f 0%, #35063a 100%);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.rsa_section {
  background-color: black;
  color: white;
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.space_tau_section {
  box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
  padding-top: 40px;
  margin: 0px;
  background-image: linear-gradient(to top, #09203f 0%, #35063a 100%);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.project_card {
  padding-left: 100px !important;
}

.about_me_section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.about_me_snowshoeing_photo {
  border-radius: 50px;
  width: 43%;
  height: 100%;
  margin-right: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.about_me_ski_photo {
  border-radius: 50px;
  width: 50%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.tent_image {
  border-radius: 50px;
  width: 57%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.player-wrapper {
  position: relative;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  width: 270px;
  height: 50px;
}

#projects_section {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

ul {
  list-style-type: square;
  height: auto;
}

li {
  margin-bottom: 30px;
  height: auto;
}

.github_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  height: 50px;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: #24292e;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.github_button:hover {
  background-color: rgb(46, 46, 46);
}

.github_button:active {
  transform: scale(0.9);
}

.website_button {
  font-family: "Segoe UI";
  font-weight: 500;
  width: 200px;
  height: 50px;
  margin-left: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 16px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(36, 43, 121);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.website_button:hover {
  background-color: rgb(38, 43, 102);
}

.website_button:active {
  transform: scale(0.9);
}

.project_1_main_div {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  p {
    padding-left: 0px;
  }

  .project_card_hash_map {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .project_card_space_tau {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 100px;
  }

  .github_button {
    margin-bottom: 0px;
    gap: 10px;
  }

  .website_button {
    margin-left: 0px;
    margin-right: 10;
  }

  .video_button {
    margin-left: 0px;
    margin-right: 10;
  }

  .project_card_apply_yourself {
    flex-direction: column;
    padding-left: 0px;
    align-self: center;
  }

  .about_me_text {
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
  }

  .about_me_snowshoeing_photo {
    margin-right: 0px;
  }

  .about_me_images2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    gap: 20px;
  }

  #about {
    background-image: linear-gradient(to top, #09203f 63%, #385266 100%);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .player-wrapper {
    position: relative;
    z-index: 1;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 30px;
  }

  li {
    overflow-wrap: anywhere;
  }

  .about_me_section {
    display: flex;
    flex-direction: column;
  }

  .project_1_main_div {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  body {
    background: #212534;
    width: 100% !important;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

  .text_description_1 {
    height: "auto";
    margin-bottom: "0px";
  }

  .navbar_link {
    font-size: 12px;
    padding: 10px;
  }

  .profile_photo {
    padding: 0px;
    margin: 0px;
  }

  .profile_photo_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 110px;
  }

  .text_description_1 {
    margin-bottom: 0px;
    padding-right: 0vh;
  }

  .navbar_name_me {
    color: white;
    font-weight: 150;
    font-family: Segoe UI;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 0vh;
    padding-left: 0vh;
  }

  .navbar {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background: #fefefe;
    background: #0e0d0d;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    z-index: 111;
    margin: 0px;
    padding: 0px;
  }

  .project_card_ski_shop {
    display: flex;
    flex-direction: column;
  }

  .project_card_smallsh {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .project_card_rsa_encryption {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 70%;
  }

  .tent_image {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .about_me_images {
    align-items: center;
  }

  .wrapper_rock_climbing_video {
    padding: 0px;
    margin: 0px;
    align-self: center;
    margin-bottom: 30px;
  }

  .project_card_apply_yourself {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_apply_your_self {
    width: 100%;
    padding-left: 0px;
  }

  .carousel_apply_yourself {
    width: 100%;
  }

  .project_buttons {
    gap: 10px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .carousel_rsa_encryption {
    width: 100%;
  }

  .text_description_rsa {
    width: 100%;
    padding-left: 0px;
  }

  .space_tau_carousel_and_video {
    width: 100%;
    align-items: center !important;
  }

  .space_tau_description {
    width: 100%;
  }

  .text_description_smallsh {
    width: 100%;
    padding-left: 0px;
  }

  .hash_map_text {
    width: 100%;
    padding-left: 0px;
  }

  .text_description_ski_shop {
    width: 100%;
    padding-left: 0px;
  }

  .carousel_ski_shop {
    width: 100%;
  }

  .hash_map_carousel {
    width: 100%;
  }

  .hash_map_carousel {
    width: 100%;
  }

  .kotlin_carousel {
    max-width: 500px;
    padding-left: 0px;
  }
  .kotlin_carousel_container {
    width: 100%;
    margin-bottom: 40px;
  }

  #projects_section {
    top: 0px;
  }

  .ski_shop_section {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  ul {
    margin-left: 0px;
    padding: 0px;
  }

  .apply_yourself_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .rsa_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .space_tau_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .smallsh_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hash_map_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .kotlin_section {
    background-image: linear-gradient(
      to top,
      #290e5b 0%,
      #290e5b 50%,
      rgb(0, 0, 0) 100%
    );
    color: white;
    box-shadow: 0px -15px 50px rgba(0, 0, 0, 1);
    min-height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 40px;
  }

  .video_wrapper_smallsh {
    width: 100%;
    margin-bottom: 40px;
  }

  .about_me_snowshoeing_photo {
    width: 100%;
  }

  .about_me_ski_photo {
    width: 100%;
  }

  .binary_digit_row {
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 200px;
    gap: 5px;
    left: 25%;
    top: -60px;
    z-index: -1111;
  }

  .binary_digit_divs {
    width: 100px;
    display: flex;
    gap: 4px;
  }

  .video_wrapper_ksp {
    align-self: center !important;
  }

  li {
    list-style-position: inside;
    padding-left: 5%;
    padding-right: 5%;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul > li > ul > li {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: circle;
  }

  ul > li > ul {
    list-style-position: inside;
  }

  .text_wrapper {
    width: 100%;
    height: fit-content;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: center;

  }

  .text_wrapper_about_me {
    width: 100%;
    height: fit-content;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 30px;
    margin-left: 0rem;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
