.navbar_link {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: medium;
  transition: color .3s; 
  text-decoration: none;
  padding: 20px;
}

.navbar_link:hover {
  color: #0062b9; 
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background: #fefefe;
  background: #0e0d0d;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); 
  align-items: center;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif; 
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.main-footer {
  background: #000;
  color: #fff; 
  height: 300px;
}

.profile_photo_image {
  width: 6vh;
  height: 6vh;
  border-radius: 200px;
  margin-right: 122vh;
  margin-left: 2vh;
}
