.header h3 {
  overflow-wrap: inherit;
}

.pyTorchOuterContainer {
  color: white;
  min-height: fit-content;
  background-image: linear-gradient(
    #000000 0%,
    #2c110d 35%,
    #1d0f0e 85%,
    #000000 100%
  );
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

#projects {
  display: block;
  position: relative;
  visibility: hidden;
}

.projectsHeader {
  margin-top: 3rem;
}

.projectsParagraph {
  height: auto;
  margin-bottom: 6rem;
}

@media (max-width: 600px) {
  .header {
    text-align: center;
    overflow-wrap: break-word;
  }

  .header h3 {
    width: 100%;
  }

  .projectsHeader {
    margin-top: 0rem;
  }

  .projectsParagraph {
    text-align: center;
  }

  .pyTorchOuterContainer {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #projects {
    top: 0px;
  }
}
